In [32]:
import pandas as pd

In [33]:
!pip install -e cempy

Obtaining file:///Users/enayetraheem/PycharmProjects/cempy/cempy
Installing collected packages: cempy
  Attempting uninstall: cempy
    Found existing installation: cempy 0.0.1
    Uninstalling cempy-0.0.1:
      Successfully uninstalled cempy-0.0.1
  Running setup.py develop for cempy
Successfully installed cempy-0.0.1

In [34]:
# from cempy import CEM
import cempy

In [35]:
# Load data
ll = pd.read_csv('examples/lelonde.csv')

In [36]:
ll.head()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1
0,1,20,12,0,1,0,8644.156250,8644.156250,11656.505859,0,0,0,strongly agree
1,0,39,12,1,1,0,19785.320312,6608.137207,499.257202,0,0,0,neutral
2,1,49,8,0,1,1,9714.596680,7285.947754,16717.121094,0,0,0,no opinion
3,0,26,8,0,1,1,37211.757812,36941.265625,30247.500000,0,0,0,no opinion
4,0,38,10,1,1,1,14759.063477,14701.947266,4393.522949,0,0,0,strongly disagree

In [37]:
ll.describe()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75
count,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000,650.000000
mean,0.396923,24.466154,10.252308,0.796923,0.156923,0.781538,3660.773741,3049.787477,5401.889812,0.110769,0.453846,0.400000
std,0.489637,6.726641,1.657323,0.402599,0.364008,0.413520,6295.978327,5079.687551,6300.367904,0.314088,0.498249,0.490275
min,0.000000,17.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,19.000000,9.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,23.000000,10.000000,1.000000,0.000000,1.000000,774.094208,955.112488,3853.070312,0.000000,0.000000,0.000000
75%,1.000000,27.000000,11.000000,1.000000,0.000000,1.000000,5188.056763,3886.642639,8632.951416,0.000000,1.000000,1.000000
max,1.000000,55.000000,15.000000,1.000000,1.000000,1.000000,39570.679688,37431.660156,60307.929688,1.000000,1.000000,1.000000

In [40]:
f = CEM(data=ll, treatment = 'treated', matchvar=['age', 'education', 'black', 'married', 'nodegree', 're74',
       're75', 'hispanic', 'u74', 'u75', 'q1'], metrics=['re78'], exclude = [])

/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.msw[self.treatment] = 0
/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_matched['bin_sig'] = data_matched['bin_sig'].astype(str)

In [41]:
f.get_unmatched()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1,bin_sig
0,1,20,12,0,1,0,8644.156250,8644.156250,11656.505859,0,0,0,strongly agree,20_12_0_1_0_8644.15625_8644.15625_0_0_0_strong...
1,0,39,12,1,1,0,19785.320312,6608.137207,499.257202,0,0,0,neutral,39_12_1_1_0_19785.3203125_6608.13720703125_0_0...
2,1,49,8,0,1,1,9714.596680,7285.947754,16717.121094,0,0,0,no opinion,49_8_0_1_1_9714.5966796875_7285.94775390625_0_...
3,0,26,8,0,1,1,37211.757812,36941.265625,30247.500000,0,0,0,no opinion,26_8_0_1_1_37211.7578125_36941.265625_0_0_0_no...
4,0,38,10,1,1,1,14759.063477,14701.947266,4393.522949,0,0,0,strongly disagree,38_10_1_1_1_14759.0634765625_14701.947265625_0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,0,19,9,0,0,1,0.000000,0.000000,3811.683105,1,1,1,strongly disagree,19_9_0_0_1_0.0_0.0_1_1_1_strongly disagree
646,1,20,9,0,0,1,8740.939453,8015.441895,5487.969727,1,0,0,strongly disagree,20_9_0_0_1_8740.939453125_8015.44189453125_1_0...
647,0,22,8,0,0,1,0.000000,0.000000,9920.945312,1,1,1,strongly disagree,22_8_0_0_1_0.0_0.0_1_1_1_strongly disagree
648,1,19,8,0,0,1,2483.851807,1862.888794,8774.623047,1,0,0,neutral,19_8_0_0_1_2483.851806640625_1862.888793945312...
649,0,24,4,0,0,1,0.000000,0.000000,3880.833008,1,1,1,strongly agree,24_4_0_0_1_0.0_0.0_1_1_1_strongly agree

In [42]:
f.get_matched()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1,bin_sig
138,1,29,11,1,1,1,0.0,0.0,9642.999023,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral
145,0,29,11,1,1,1,0.0,0.0,10225.879883,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral
178,0,30,12,1,0,0,0.0,0.0,13613.349609,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion
287,1,30,12,1,0,0,0.0,0.0,24909.449219,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion
324,1,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree
326,0,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree
410,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
486,0,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
487,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
488,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
501,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
502,0,17,10,1,0,1,0.0,0.0,2189.426025,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
553,0,17,9,1,0,1,0.0,0.0,3590.701904,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion
556,1,17,9,1,0,1,0.0,0.0,1953.267944,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion
581,0,18,9,1,0,1,0.0,0.0,10877.349609,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree
604,1,18,9,1,0,1,0.0,0.0,4482.845215,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree

In [43]:
f.metric_summary()

AttributeError: 'DataFrameGroupBy' object has no attribute 'su'

In [7]:
# Load the class

# CEM with Python

# Load libraries
import numpy as np
import pandas as pd
import statsmodels
import statsmodels.api as sm
from matplotlib import pyplot as plt
from scipy import stats


# CEM Class definition

class CEM:

    def __init__(self, data, treatment, metrics=[], matchvar=[], exclude=[]):
        self.matchvar = [i for i in matchvar if i not in exclude + metrics]

        # Data cleaning process
        # Remove missing values if found in matchvar

        self.data = data.dropna(subset=matchvar)
        self.treatment = treatment
        self.metrics = metrics

        # Denifing the bin signatures
        self.data['bin_sig'] = self.data[self.matchvar[0]].astype(str)
        for i in range(1, len(self.matchvar)):
            self.data['bin_sig'] = self.data['bin_sig'].astype(str) + '_' + self.data[self.matchvar[i]].astype(str)

        # Define treatment control dataframes
        self.t = self.data.loc[self.data[treatment] == 1]
        self.c = self.data.loc[self.data[treatment] == 0]

        # Other attributes

        # CEM summary table
        self.ms = self.cem_summary(self.treatment)
        self.nt_matched = self.ms.groupby(['is_matched']).sum().iloc[1, 0]
        self.nc_matched = self.ms.groupby(['is_matched']).sum().iloc[1, 1]

        # CEM summary with weights for each record
        self.msw = self.get_weights()
        self.msw[self.treatment] = 0
        self.mt = self.matched_table()

        # Data with weights
        self.weighted_data = self.get_weighted_data()


    # Return the list of matched variables
    def matched_var(self):
        return list(self.matchvar)


    # Create CEM summary

    def cem_summary(self, treatment=False):
        """
        cem_summary method performes many-to-many matching and returns a copy of the original `dataframe` that
        contains addition column called 'is_matched' which indicates whether a member has a match or not
        """

        # Group members by bin signature andc ount how many members belong to each type

        self.t_grouped = self.t.groupby(['bin_sig']).size().to_frame(name='trt_count').reset_index()
        self.c_grouped = self.c.groupby(['bin_sig']).size().to_frame(name='ctl_count').reset_index()

        # Combine all grouped members into a single table
        self.member_summary = pd.merge(self.t_grouped, self.c_grouped, how='outer', on=['bin_sig'])

        # Replace NAs with 0
        self.member_summary = self.member_summary.fillna(0)

        # Add indicator column for matched bin signature
        self.member_summary['is_matched'] = 0
        self.member_summary.loc[
            (self.member_summary['trt_count'] > 0) & (self.member_summary['ctl_count'] > 0), 'is_matched'] = 1

        return self.member_summary


    def get_matched(self):
        # 1. Matching
        self.matched_data = self.cem_summary(self.treatment)

        # Get a list of bins that are matched
        bin_matched = self.matched_data.loc[self.matched_data['is_matched'] == 1]['bin_sig']
        bin_matched = list(bin_matched)

        # Get the matched members out
        data_matched = self.data[self.data['bin_sig'].isin(bin_matched)]

        return data_matched


    def get_unmatched(self):
        # 1. Matching
        self.matched_data = self.cem_summary(self.treatment)

        # Get a list of bins that are matched
        bin_unmatched = self.matched_data.loc[self.matched_data['is_matched'] == 0]['bin_sig']
        bin_unmatched = list(bin_unmatched)

        # Get matched members out
        data_unmatched = self.data[self.data['bin_sig'].isin(bin_unmatched)]

        return data_unmatched


    def matched_table(self):
        """
        Returns a table of matched or unmatched members in the treatment and control groups
        """

        summary_matched = self.cem_summary(self.treatment)[['trt_count', 'ctl_count', 'is_matched']]

        return summary_matched.groupby(['is_matched']).sum()


    def match_rate_out(self):
        # Calculate matching rates: overall, treatment and control

        overall = (self.mt.iloc[1].sum()) / (self.mt.sum().sum())
        treatment = (self.mt.iloc[1, 0].sum()) / (self.mt.iloc[:, 0].sum())
        control = (self.mt.iloc[1, 1].sum()) / (self.mt.iloc[:, 1].sum())

        return (overall, treatment, control)


    def get_weights(self):
        """
        CEM summary with weight column added
        """

        # Matched control members get normalized weights according to treatment group
        members_summary_matched = self.ms.loc[(self.ms['is_matched'] > 0)]
        members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
                                        (self.nc_matched / self.nt_matched)

        return members_summary_matched


    def get_weighted_data(self):
        dfweighted = self.get_weights()
        data_matched = self.get_matched()

        todrop = ['trt_count', 'ctl_count', 'is_matched']
        dfweighted = dfweighted.drop(columns=todrop)

        # Match corresponding weight for every member
        data_matched['bin_sig'] = data_matched['bin_sig'].astype(str)
        dfweighted['bin_sig'] = dfweighted['bin_sig'].astype(str)
        data_matched_w_weights = pd.merge(data_matched, dfweighted, how='left', on=['bin_sig'])

        # Treatment cases get a weight of 1
        data_matched_w_weights.loc[data_matched_w_weights[self.treatment] == 1, 'wt'] = 1
        data_matched_w_weights = data_matched_w_weights.reset_index(drop=True)

        return data_matched_w_weights


    def _effect_out(self, metric):
        """
        Internal function for use within the metric_summary()
        """

        temp = self.data[[self.treatment, 'bin_sig', metric]]
        temp = temp.groupby(['bin_sig', self.treatment]).sum().reset_index()
        effect = pd.merge(temp, self.msw, how='left', on=['bin_sig'])
        effect = effect.fillna(0)

        # Treatment effect
        treatment_effect = ((effect[self.treatment + '_x'] * effect['is_matched'] * effect[metric]).sum()) / self.nt_matched
        control_effect = ((1 - effect[self.treatment + '_x']) * effect['is_matched'] * effect[metric] * \
                          effect['wt']).sum() / self.nc_matched

        return (treatment_effect, control_effect)


    def metric_summary(self, metrics=False):
        if not metrics:
            metrics = self.metrics

        # Remove constant 0 columns from the list of metrics to run
        # data_matched_weights = self.get_weighted_data()
        # mt = self.matched_table()

        Control = 'Control'

        i = 1
        results = pd.DataFrame(
            columns=[
                'Treatment'
                , 'Matched Treatment group - size'
                , 'Treatment group - match rate'
                , 'Control'
                , 'Matched Control group - size'
                , 'Control group - match rate'
                , 'Metric'
                , 'Metric (Treatment)'
                , 'Metric (Treatment) LCF'
                , 'Metric (Treatment) UCF'
                , 'Metric (Control)'
                , 'Metric (Control) LCF'
                , 'Metric (Control) UCF'
                , 'Impact'
                , 'Impact (LCF)'
                , 'Impact (UCF)'
                , 'Impact (%)'
                , 'Impact (%) LCF'
                , 'Impact (%) UCF'
                , 'p-value'
            ]
        )

        control_weights = self.weighted_data.loc[self.weighted_data[self.treatment] == 0, 'wt']
        control_n = (self.weighted_data[self.treatment] == 0).sum()
        treatment_n = (self.weighted_data[self.treatment] == 1).sum()

        for metric in metrics:

            effect = self._effect_out(metric)

            control_metric = self.weighted_data.loc[self.weighted_data[self.treatment] == 0, metric]
            control_mean = np.average(control_metric, weights=control_weights)
            control_std = np.sqrt(np.average((control_metric - control_mean) ** 2, weights=control_weights))

            if np.float(control_mean) != 0:
                control_LCI = control_mean - 1.96 * control_std / np.sqrt(control_n)
                control_UCI = control_mean + 1.96 * control_std / np.sqrt(control_n)
            else:
                control_LCI = 0.00001
                control_UCI = 0.00001

            treatment_metric = self.weighted_data.loc[self.weighted_data[self.treatment] == 1, metric]
            treatment_mean = treatment_metric.mean()
            treatment_std = np.sqrt(((treatment_metric - treatment_mean) ** 2).mean())

            if np.float(treatment_mean) != 0:
                treatment_LCI = treatment_mean - 1.96 * treatment_std / np.sqrt(treatment_n)
                treatment_UCI = treatment_mean + 1.96 * treatment_std / np.sqrt(treatment_n)
            else:
                treatment_LCI = 0.00001
                treatment_UCI = 0.00001

            ttest_p_value = statsmodels.stats.weightstats.ttest_ind(
                x1=self.weighted_data.loc[self.weighted_data[self.treatment] == 1, metric],
                x2=self.weighted_data.loc[self.weighted_data[self.treatment] == 0, metric],
                alternative='two-sided',
                weights=(self.weighted_data.loc[self.weighted_data[self.treatment] == 1, 'wt'],
                         self.weighted_data.loc[self.weighted_data[self.treatment] == 0, 'wt']))[1]

            results.loc[i] = [
                self.treatment
                , int(round(self.mt.iloc[:, 0].sum() * self.match_rate_out()[1]))
                , self.match_rate_out()[1]
                , Control
                , int(round(self.mt.iloc[:, 1].sum() * self.match_rate_out()[2]))
                , self.match_rate_out()[2]
                , metric
                , effect[0]
                , treatment_LCI
                , treatment_UCI
                , effect[1]
                , control_LCI
                , control_UCI
                , effect[0] - effect[1]
                , min(treatment_LCI - control_LCI, treatment_LCI - control_UCI, treatment_UCI - control_LCI,
                      treatment_UCI - control_UCI)
                , max(treatment_UCI - control_LCI, treatment_LCI - control_UCI, treatment_UCI - control_LCI,
                      treatment_UCI - control_UCI)
                , (effect[0] - effect[1]) / effect[1]
                , min((treatment_LCI - control_LCI) / control_LCI, (treatment_LCI - control_UCI) / control_UCI,
                      (treatment_UCI - control_LCI) / control_LCI, (treatment_UCI - control_UCI) / control_UCI)
                , max(
                    (treatment_LCI - control_LCI) / control_LCI, (treatment_LCI - control_UCI) / control_UCI,
                    (treatment_UCI - control_LCI) / control_LCI, (treatment_UCI - control_UCI) / control_UCI

                )
                , ttest_p_value
            ]
            i = + i + 1

        return results

In [20]:
ll.columns

Index(['treated', 'age', 'education', 'black', 'married', 'nodegree', 're74',
       're75', 're78', 'hispanic', 'u74', 'u75', 'q1'],
      dtype='object')

In [22]:
matchvar = ['age', 'education', 'black', 'married', 'nodegree', 're74',
       're75', 'hispanic', 'u74', 'u75', 'q1']
treatment = 'treated'
metrics = ['re78']
exclude = []

In [23]:
matchvar = [i for i in matchvar if i not in exclude + metrics]

In [24]:
matchvar

['age',
 'education',
 'black',
 'married',
 'nodegree',
 're74',
 're75',
 'hispanic',
 'u74',
 'u75',
 'q1']

In [29]:
f = CEM(data=ll, treatment = 'treated', matchvar=['age', 'education', 'black', 'married', 'nodegree', 're74',
       're75', 'hispanic', 'u74', 'u75', 'q1'], metrics=['re78'], exclude = [])

/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.msw[self.treatment] = 0
/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_matched['bin_sig'] = data_matched['bin_sig'].astype(str)

In [30]:
f.get_matched()

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1,bin_sig
138,1,29,11,1,1,1,0.0,0.0,9642.999023,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral
145,0,29,11,1,1,1,0.0,0.0,10225.879883,0,1,1,neutral,29_11_1_1_1_0.0_0.0_0_1_1_neutral
178,0,30,12,1,0,0,0.0,0.0,13613.349609,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion
287,1,30,12,1,0,0,0.0,0.0,24909.449219,0,1,1,no opinion,30_12_1_0_0_0.0_0.0_0_1_1_no opinion
324,1,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree
326,0,25,12,1,0,0,0.0,0.0,0.000000,0,1,1,disagree,25_12_1_0_0_0.0_0.0_0_1_1_disagree
410,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
486,0,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
487,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
488,1,24,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly agree,24_10_1_0_1_0.0_0.0_0_1_1_strongly agree
501,1,17,10,1,0,1,0.0,0.0,0.000000,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
502,0,17,10,1,0,1,0.0,0.0,2189.426025,0,1,1,strongly disagree,17_10_1_0_1_0.0_0.0_0_1_1_strongly disagree
553,0,17,9,1,0,1,0.0,0.0,3590.701904,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion
556,1,17,9,1,0,1,0.0,0.0,1953.267944,0,1,1,no opinion,17_9_1_0_1_0.0_0.0_0_1_1_no opinion
581,0,18,9,1,0,1,0.0,0.0,10877.349609,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree
604,1,18,9,1,0,1,0.0,0.0,4482.845215,0,1,1,strongly disagree,18_9_1_0_1_0.0_0.0_0_1_1_strongly disagree

In [31]:
f.matched_table()

            trt_count  ctl_count
is_matched
0               249.0      385.0
1                 9.0        7.0

In [13]:
f.get_weighted_data()

/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  members_summary_matched['wt'] = (members_summary_matched['trt_count'] / members_summary_matched['ctl_count']) * \
/var/folders/cc/flx3s4qx5bv1p8hrn134vgq00000gn/T/ipykernel_22394/1039131480.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_matched['bin_sig'] = data_matched['bin_sig'].astype(str)

,treated,age,education,black,married,nodegree,re74,re75,re78,hispanic,u74,u75,q1,bin_sig,wt
0,1,20,12,0,1,0,8644.156250,8644.156250,11656.505859,0,0,0,strongly agree,20_12,1.000000
1,0,27,12,1,1,0,0.000000,752.390076,0.000000,0,1,0,no opinion,27_12,0.584416
2,1,33,12,1,1,0,20279.949219,10941.349609,15952.599609,0,0,0,agree,33_12,1.000000
3,0,31,12,0,0,0,0.000000,494.643005,0.000000,0,1,0,neutral,31_12,0.454545
4,0,29,12,0,0,0,12116.611328,12205.142578,16328.963867,0,0,0,agree,29_12,0.681818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1,22,9,0,0,1,0.000000,0.000000,3595.894043,1,1,1,neutral,22_9,1.000000
516,1,19,9,0,0,1,6511.124023,6511.124023,7913.385742,1,0,0,neutral,19_9,1.000000
517,0,19,9,0,0,1,0.000000,0.000000,3811.683105,1,1,1,strongly disagree,19_9,0.974026
518,1,20,9,0,0,1,8740.939453,8015.441895,5487.969727,1,0,0,strongly disagree,20_9,1.000000
519,1,19,8,0,0,1,2483.851807,1862.888794,8774.623047,1,0,0,neutral,19_8,1.000000

In [14]:
f.cem_summary()

    bin_sig  trt_count  ctl_count  is_matched
0     17_10        8.0       12.0           1
1     17_11        1.0        5.0           1
2      17_7        1.0        0.0           0
3      17_8        3.0        4.0           1
4      17_9        8.0        6.0           1
..      ...        ...        ...         ...
154    45_9        0.0        1.0           0
155   50_10        0.0        1.0           0
156    50_8        0.0        1.0           0
157   54_11        0.0        1.0           0
158    55_3        0.0        1.0           0

[159 rows x 4 columns]

In [15]:
f.matched_table()

            trt_count  ctl_count
is_matched
0                38.0       92.0
1               220.0      300.0